@import url(/fonts/inter.css);

/* page */
@import url(/blocks/page/page.css);

/* header */
@import url(/blocks/header/header.css);
@import url(/blocks/header/__logo/header__logo.css);

/* profile */
@import url(/blocks/profile/profile.css);
@import url(/blocks/profile/about-me/profile__about-me.css);
@import url(/blocks/profile/__text/profile__text.css);
@import url(/blocks/profile/__picture/profile__picture.css);
@import url(/blocks/profile/__name/profile__name.css);
@import url(/blocks/profile/__info/profile__info.css);
@import url(/blocks/profile/__edit-button/profile__edit-button.css);
@import url(/blocks/profile/__add-button/profile__add-button.css);
@import url(/blocks/profile/__button-img/profile__button-img.css);

/* popup */
@import url(/blocks/popup/popup.css);
@import url(/blocks/popup/__container/popup__container.css);
@import url(/blocks/popup/__btn-close/popup__btn-close.css);

/* cards */
@import url(/blocks/cards/cards.css);
@import url(/blocks/card/card.css);
@import url(/blocks/card/__title/card__title.css);
@import url(/blocks/card/__text/card__text.css);
@import url(/blocks/card/__image/card__image.css);
@import url(/blocks/card/__button/card__heart.css);

/* footer */
@import url(/blocks/footer/footer.css);

@media screen and (max-width: 1280px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 880px) {
  .profile {
    padding: 0 24px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
  }
  .card {
    margin: 0 auto;
    max-width: 282px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo {
    max-width: 126px;
    margin: 28px 21px 31px;
  }

  .profile {
    flex-direction: column;
  }

  .profile__info {
    flex-direction: column;
  }

  .profile__button-img {
    display: none;
  }

  .profile__button-img_rectangle {
    display: block;
  }

  .popup__btn-close {
    width: 26px;
    right: 10px;
    top: -45px;
  }

  .profile__name {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }

  .profile__text {
    justify-content: center;
  }

  .profile__about-me {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .popup {
    width: 70%;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .footer {
    padding: 0 19px;
  }
}
